{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="stylesheet" href="{% static "my_blog/post-detail.css" %}">
    <title>{% block page_title %} {% endblock %}</title>
</head>1
<body>
    <header id="main-navigation">
          <h1><a href="{% url "start_page" %}">My blog</a></h1>
        <nav>
            <a href="{% url "read-later" %}">Stored posts</a>

            <a href="{% url "all-posts" %}">All posts</a>
        </nav>
    </header>
    {% block page_info %}
    {% endblock %}
</body>
</html>